@import "./../../scss/theme";

.payment-card {
  h6 {
    margin-bottom: 0.75rem;
    border-bottom: 4px solid $primary-text-color;
    border-radius: 2px;
    display: inline-block;
  }
  p {
    padding-left: 10px;
    margin-bottom: 2px;
  }
}
