<!-- Payment Records -->
<h3>Payment History</h3>
<div class="section-wrapper row">
  <div class="loader-card-small" *ngIf="paymentRecordStatus.isLoading">
    <app-skeleton-loader></app-skeleton-loader>
  </div>
  <div *ngIf="!paymentRecordStatus.isLoading">
    <app-payment-record
      *ngFor="let paymentRecord of paymentRecordStatus.data"
      [category]="categoriesMasterData.get(paymentRecord.categoryId)?.type"
      [paymentConfig]="paymentRecord"
    ></app-payment-record>
  </div>
</div>