@import "./Core/scss/theme";

.global-content {
  padding: 20px $global-padding-sm;
  @include md-min {
    padding: 30px $global-padding-md;
  }
  @include lg-min {
    padding: 50px $global-padding-lg;
  }
}
