// Background Color
$background-color: #edf1f5;
$inverted-bg-color: #2b2d42;

// Text Color
$primary-text-color: #5c728a;
$inverted-text-color: #e5e7ea;

// NavBar
$navbar-bg-color: #2b2d42;
$navbar-pills-color: #e5e7ea;

// Cards
$cards-bg-color: #fafafa;

// Misc
$primary-blue-color: #4e73df;
