<div>
  <h3 class="table-heading">{{ tableDataConfig.tableHeading }}</h3>
  <div class="table-content table-responsive">
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th
            *ngFor="let colConfig of tableDataConfig.columnConfig"
            scope="col"
          >
            {{ colConfig.label }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rowConfig of rowDataConfig">
          <td *ngFor="let rowData of rowConfig.rowData">{{ rowData.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
